*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}

body{  
    background-color: rgb(155, 155, 190);
}

#title{
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}

#main-area{
    margin: auto;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width:500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #bebcbc;
}

#search-area{
    height: 100px;
    margin: 10px 0;
}

label{
    margin-bottom: 10px;
    font-size: 20px;
}

#search-input{
    background-color: white;
    width: 200px;
    height: 45px;
    margin-left: 0;
    font-size: 20px;
}

#search-button{
    border-radius: 15px;
    height: 45px;
    width: 100px;
    box-shadow: 1px 1px black;
}

#show-area{
    margin: 10px;
    padding-left: 10px;
    background-color: aquamarine;
    height: 180px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#creature-name{
    font-weight: 700;
    font-size: 20px;
}

#creature-id{
    font-weight: 400;
    font-size: 17px;
}

#weight-height > span{
    font-weight: 500;
}

#types{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

#types > span{
    margin-right: 10px;
    font-weight: 600;
    width: 75px;
    height: 30px;
    border-radius: 3px;
}

#special-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#special-name{
    font-weight:500;
    font-size: 18px;
}

#special-description{
    font-weight: 400;
    font-size: 17px;
    word-break: break-word;
    text-align: left;
}

#creature-information{
    width: 430px;
    font-size: 20px;
    color: white;
}

th,td{
    height: 40px;
    background-color: #ee8888;
}

#normal {
background-color: #b7b7aa;
}

#fire {
background-color: #ff6f52;
}

#water {
background-color: #42a1ff;
}

#electric {
background-color: #fecc33;
}

#grass {
background-color: #78cc55;
}

#ice {
background-color: #66ccfe;
}

#fighting {
background-color: #d3887e;
}

#poison {
background-color: #c68bb7;
}

#ground {
background-color: #dfba52;
}

#flying {
background-color: #8899ff;
}

#psychic {
background-color: #ff66a3;
}

#bug {
background-color: #aabb23;
}

#rock {
background-color: #baaa66;
}

#ghost {
background-color: #9995d0;
}

#dragon {
background-color: #9e93f1;
}

#dark {
background-color: #b59682;
}

#steel {
background-color: #abaabb;
}

#fairy {
background-color: #ed99ed;
}